:root {
  --c-grey-000: #ffffff;
  --c-grey-100: #f7f5ff;
  --c-grey-500: #dddddd;
  --c-grey-700: #7d7d80;
  --c-grey-900: #000000;

  --c-purple-100: #cac2f2;
  --c-purple-300: #9684fe;
  --c-purple-500: #7762ff;

  --inner-gutter: 1.25rem;

  --first-background-color: #cbd7e3;
  --second-background-color: #c0ccd8;
  --third-background-color: #4d4bc8;
  --fourth-background-color: #dee3e6;
  --fifth-background-color: #b0a5ea;
}
