//Google Fonts - Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  // FONTS
  --ff-primary-regular: "Poppins", sans-serif;

  // FONT SIZES

  --font-large: 3rem; // 48px
  --font-med: 2.25rem; // 36px
  --font-small: 1.25rem; // 20px
  --font-xsmall: 1rem; // 16px
}
