@use "../util" as *;

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: var(--first-background-color);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint-down(small) {
    max-width: 100%;
    padding: 0;
  }
}

.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.glassmorphism-card {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
}

input:focus {
  font-size: 16px;
}
