h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 900;
}

h2 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 900;
}

h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 38px;
  font-weight: 300;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
